{% for interface in interfaces.l3 %}
auto {{ interface.name }}
iface {{ interface.name }}
    alias {{ interface.description }}
{% if interface.ipv4_address %}
    address {{ interface.ipv4_address }}/{{ interface.ipv4_prefix_length }}
{% endif %}
{% if interface.mtu %}
    mtu {{ interface.mtu }}
{% endif %}
{% if interface.speed %}
    link-speed {{ interface.speed }}
{% endif %}
{% if interface.auto_negotiation %}
    link-autoneg {{ interface.auto_negotiation }}
{% endif %}
{% if interface.vrf %}
    vrf {{ interface.vrf }}
{% endif %}

{% endfor %}

