# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

#### DO NOT DELETE ####
source /etc/network/interfaces.d/*.intf
{% include 'templates/cumulus/cumulus-interfaces-loopback.j2' %}

{% include 'templates/cumulus/cumulus-interfaces-mgmt.j2' %}
#### DO NOT DELETE ####

#### L2 Interfaces ####
#### End L2 Interfaces ####

#### L3 Interfaces ####
{% if interfaces.l3 %}
{% include 'templates/cumulus/cumulus-interfaces-l3.j2' %}
{% endif %}
#### End L3 Interfaces ####

#### MLAG ####
{% if interfaces.mlag.enabled %}
{% include 'templates/cumulus/cumulus-interfaces-mlag.j2' %}
{% endif %}
#### End MLAG ####

#### Bridge ####
{% if interfaces.bridge.enabled %}
{% include 'templates/cumulus/cumulus-interfaces-bridge.j2' %}
{% endif %}
#### End Bridge ####

