# default to using syslog. /etc/rsyslog.d/45-frr.conf places the log
# in /var/log/frr/frr.log
hostname {{ hostname }}
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
{% block bgp %}
{% include 'templates/cumulus/cumulus-bgp.j2' %}
{% endblock bgp %}
line vty
!
