service timestamps debug datetime msec
service timestamps log datetime msec
no platform punt-keepalive disable-kernel-core
!
{% block hostname %}
{% if hostname %}
{% include 'ios-hostname.j2' %}
{% endif %}
!
{% endblock %}

{% block aaa %}
aaa new-model
!
!
aaa authentication login default local
aaa authorization exec default local
!
!
!
!
!
aaa session-id common
!
username vagrant privilege 15 secret 5 $1$d7OH$NDIPly/t8SVasOQsE1CjK.
!
{% endblock aaa %}
{% block domain_name %}
{% if domain.name %}
{% include 'ios-domain-name.j2' %}
{% endif %}
!
{% endblock %}
{% block name_servers %}
{% if domain.name_servers %}
{% include 'ios-domain-name-servers.j2' %}
{% endif %}
!
{% endblock %}
{% block ntp %}
{% if ntp.servers %}
{% include 'ios-ntp.j2' %}
{% endif %}
!
{% endblock %}
{% block syslog %}
{% if syslog.servers %}
{% include 'ios-syslog.j2' %}
{% endif %}
!
{% endblock %}
!
end
